<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/estilos.css">
    <title>Estado de los equipos</title>
</head>
<body>
    <header>
      <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand ps-2" href="../../index.html" id="titulo_version">Intranet de relevamiento V1.0</a>
      </nav>
    </header>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand">Estado de los equipos de planta</a>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </nav>
    <main class="container-lg p-3">
      <div class="card-group">
        <div class="card p-2">
          <img src="https://i-invdn-com.akamaized.net/trkd-images/LYNXNPEF7K0AQ_L.jpg" class="card-img-top img-thumbnail" alt="...">
          <div class="card-body">
            <h5 class="card-title"><a style="text-decoration: none;" href="./estado_criogenicas.html">Criogénicas</a></h5>
            <p class="card-text">Cryo 1, 2, 3, 4 y 5.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Actualizado 3 minutos atrás</small>
          </div>
        </div>
        <div class="card p-2">
          <img src="https://i-invdn-com.akamaized.net/trkd-images/LYNXNPEF7K0AQ_L.jpg" class="card-img-top img-thumbnail" alt="...">
          <div class="card-body">
            <h5 class="card-title"><a style="text-decoration: none;" href="./estado_estabilizacion.html">Estabilización</a></h5>
            <p class="card-text">Estabilización 1, 2, 3 y CDU.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Actualizado 3 minutos atrás</small>
          </div>
        </div>
        <div class="card  bg-dark p-2">
          <img src="https://i-invdn-com.akamaized.net/trkd-images/LYNXNPEF7K0AQ_L.jpg" class="card-img-top img-thumbnail" alt="...">
          <div class="card-body">
            <h5 class="card-title"><a href="#">Compresores OVH</a></h5>
            <p class="card-text">Compresores Toromont, Gemini y CSI.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Actualizado 3 minutos atrás</small>
          </div>
        </div>
        <div class="card  bg-dark p-2">
          <img src="https://i-invdn-com.akamaized.net/trkd-images/LYNXNPEF7K0AQ_L.jpg" class="card-img-top img-thumbnail" alt="...">
          <div class="card-body">
            <h5 class="card-title"><a href="#">Turbocompresión de gas seco</a></h5>
            <p class="card-text">Nuovo Pignone 1, 2, 3, 4, 5.<br> Siemens 6, 7, sala satélite y puente de medición. </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Actualizado 3 minutos atrás</small>
          </div>
        </div>
        <div class="card  bg-dark p-2">
          <img src="https://i-invdn-com.akamaized.net/trkd-images/LYNXNPEF7K0AQ_L.jpg" class="card-img-top img-thumbnail" alt="...">
          <div class="card-body">
            <h5 class="card-title"><a href="#">Servicios A</a></h5>
            <p class="card-text">Lanzaderas, slug catcher, hornos, compresores de aire y fuel gas.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Actualizado 3 minutos atrás</small>
          </div>
        </div>
        
      </div>
      <div class="card-group">
        <div class="card  bg-dark p-2">
          <img src="https://i-invdn-com.akamaized.net/trkd-images/LYNXNPEF7K0AQ_L.jpg" class="card-img-top img-thumbnail" alt="...">
          <div class="card-body">
            <h5 class="card-title"><a href="#">Servicios B</a></h5>
            <p class="card-text">Red del sistema CI, esferas y bombeo de NGL.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Actualizado 3 minutos atrás</small>
          </div>
        </div>
        <div class="card  bg-dark p-2">
          <img src="https://i-invdn-com.akamaized.net/trkd-images/LYNXNPEF7K0AQ_L.jpg" class="card-img-top img-thumbnail" alt="...">
          <div class="card-body">
            <h5 class="card-title"><a href="#">Tratamiento de agua</a></h5>
            <p class="card-text">TD-1, TD-2 y pozos de inyección.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Actualizado 3 minutos atrás</small>
          </div>
        </div>
        <div class="card  bg-dark p-2">
          <img src="https://i-invdn-com.akamaized.net/trkd-images/LYNXNPEF7K0AQ_L.jpg" class="card-img-top img-thumbnail" alt="...">
          <div class="card-body">
            <h5 class="card-title"><a href="#">Generación eléctrica y CCM</a></h5>
            <p class="card-text">CCM y turbogeneradores Solar.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Actualizado 3 minutos atrás</small>
          </div>
        </div>
        <div class="card  bg-dark p-2">
          <img src="https://i-invdn-com.akamaized.net/trkd-images/LYNXNPEF7K0AQ_L.jpg" class="card-img-top img-thumbnail" alt="...">
          <div class="card-body">
            <h5 class="card-title"><a href="#">Turbocompresión de gas húmedo</a></h5>
            <p class="card-text">Siemens 6, 7, 8, servicios auxiliares WHC y sala CRUP.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Actualizado 3 minutos atrás</small>
          </div>
        </div>
        <div class="card  bg-dark p-2">
          <img src="https://i-invdn-com.akamaized.net/trkd-images/LYNXNPEF7K0AQ_L.jpg" class="card-img-top img-thumbnail" alt="...">
          <div class="card-body">
            <h5 class="card-title"><a href="#">Minitoping</a></h5>
            <p class="card-text">Minitoping, almacenamiento, pileta de agua de lluvia y tanque enterrado.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Actualizado 3 minutos atrás</small>
          </div>
        </div>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="../../js/app.js"></script>
</body>
</html>